*.py[cod]
*.swp
*.bak
.DS_STORE

htmlcov/

# pycharm
.idea/*
.cache/*
# adafruit checkout
Adafruit_Python_BluefruitLE/*
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
docs/_autosummary

# Virtual Environment
.venv/

*.retry
wpa_supplicant.conf

# coveralls
.coveralls.yml

.hypothesis/
.vscode/
